<!DOCTYPE html>
<html>
    <head>{% load static %}
        <title>page assistante</title>
        <link rel="stylesheet" href="{% static '/css/py.css'%}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.cs" />
        <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
    </head>
    <body>
      <div>
        <div style="display: flex; height: 100px;">
      <div class="butt">
        <a href="../" >
        <button class="btn-img" type="submit"> <img src="{% static '/css/logout.png' %}"  height="50px" alt=""></button>
      </a>
        <form action="/face/detection">{% csrf_token %}
        <button type="submit" class="btn-img" ><img src="{% static '/css/scanne.png' %}"  height="50px" alt=""></button>
        </form>
        <a href="/ajouter/">{% csrf_token %}
        <button type="submit" class="btn-img" ><img src="{% static '/css/ajouter.png' %}"  height="50px" alt=""></button>
      </a>
      </div>
      <div class="box">
        <input type="checkbox" id="check">
        <div class="search-box">
          <input oninput="Search()" id="textbox" type="text" placeholder="Type here...">
          <label for="check" class="icon">
            <i class="fas fa-search"></i>
          </label>
        </div>
      </div>
      </div>
      <div style="display: flex; width: 100%;">
        
   
        <img class="forme" style="margin-top:20%; margin-left: 10%;" src="{% static '/css/image/h.png' %}" alt="">
        <img class="forme" style="margin-top:30%; margin-left: 60%;" src="{% static '/css/image/i.png' %}" alt="">
        <img class="forme" style="margin-top:10%; margin-left: 25%;" src="{% static '/css/image/l.png' %}" alt="">
        <img class="forme" style="margin-top:20%; margin-left: 90%;" src="{% static '/css/image/h.png' %}" alt="">
        <img class="forme" style="margin-top:30%; margin-left: 80%;" src="{% static '/css/image/i.png' %}" alt="">
        <img class="forme" style="margin-top:10%; margin-left: 66%;" src="{% static '/css/image/l.png' %}" alt="">
        <img class="forme" style="margin-top:1%; margin-left: 1%;" src="{% static '/css/image/i.png' %}" alt="">
        <img class="forme" style="margin-top:10%; margin-left: 13%;" src="{% static '/css/image/i.png' %}" alt="">
        <img class="forme" style="margin-top:5%; margin-left: 90%;" src="{% static '/css/image/h.png' %}" alt="">
        <img class="forme" style="margin-top:15%; margin-left: 85%;" src="{% static '/css/image/i.png' %}" alt="">
        <img class="forme" style="margin-top:35%; margin-left: 85%;" src="{% static '/css/image/l.png' %}" alt="">
        <img class="forme" style="margin-top:36%; margin-left: 70%;" src="{% static '/css/image/l.png' %}" alt="">
      </div>

  </div>
        <div class="maintable">
        <table id="tb" class="content-table">
          
            <thead>
              <tr style="height: 50px;">
                <th>nom</th>
                <th>prenom</th>

                <th>naissance</th>
                <th>tel</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <py-script output="nom">
                  for i in {{nom}}:
                      print(i)
                </py-script>
              <td  id="nom">
          
              </td>
              <py-script output="prenom">
                  for i in {{prenom}}:
                      print(i)
              </py-script>
              <td  id="prenom">
          
              </td>
              

              <py-script output="tel">
                  for i in {{tel}}:
                      print(i)
              </py-script>
              <td id="tel">
          
              </td>
              <py-script output="adresse">
                  for i in {{adresse}}:
                      print(i)
              </py-script>
              <td id="adresse">
          
              </td>
              </tr>
            </tbody>
          </table>
          </div>
          
        </div>
    </body>
    </html>